div.logo-colored
    div.logo-colored-part-one
        img(src="./img/coloredlogo1.svg")
    div.logo-colored-part-two
        img(src="./img/coloredlogo2.svg")
    div.logo-colored-part-three
        img(src="./img/coloredlogo3.svg")