mixin titles(name, title)
    div(class="titles")
        div(class="title-one")
            h3.title-small= name
        div(class="title-two")
            h3.title-small= title

+titles(первый, второй)