
mixin dropdownguests()
    .dropdown-guests
        select.dropdown-guests-list
            option(data-display="Сколько гостей") Сколько гостей
            option(value="1") 1 гость
            option(value="2") 2 гостя
            option(value="3") 3 гостя
            option(value="4") 4 гостя
            option(value="5") 5 гостей
            option(value="6") 6 гостей
            option(value="7") 7 гостей
            option(value="8") 8 гостей
            option(value="9") 9 гостей
            option(value="10") 10 гостей
        
        

    