
mixin dropdownguests()
    .dropdown-guests
        ul.dropdown-guests-list Сколько гостей
            li.dropdown-guests-list__hide
                a(href="#") 1 гость
            li.dropdown-guests-list__hide 
                a(href="#") 2 гостя
            li.dropdown-guests-list__hide 
                a(href="#") 3 гостя
            li.dropdown-guests-list__hide 
                a(href="#") 4 гостя
            li.dropdown-guests-list__hide 
                a(href="#") 5 гостей
            li.dropdown-guests-list__hide 
                a(href="#") 6 гостей
            li.dropdown-guests-list__hide 
                a(href="#") 7 гостей
            li.dropdown-guests-list__hide 
                a(href="#") 8 гостей
            li.dropdown-guests-list__hide 
                a(href="#") 9 гостей
            li.dropdown-guests-list__hide 
                a(href="#") 10 гостей
        button.dropdown-guests-button
            img(src="./img/expandmore.svg")

    