mixin type()
    .type
        .type-tag-one H1
        .type-desc-one This one is sub-section or widget title
    .type
        .type-tag-two H2
        .type-desc-two Next one is the item title inside widgets
    .type
        .type-tag-three H3
        .type-desc-three this is a label or cta text
    .type
        .type-tag-four Body
        .type-desc-four 
            |This is the body text which is used for most of 
            |the design, like paragraphs, lists, etc.
