mixin radiobuttons(nameone, nametwo)
    .radiobuttons
        ul.radiobuttons-list
            li.radiobuttons-list-item
                input.radiobuttons-list-item__input(type='radio' name="sex")
                label.radiobuttons-list-item__label= nameone
            li.radiobuttons-list-item
                input.radiobuttons-list-item__input(type='radio' name="sex")
                label.radiobuttons-list-item__label= nametwo