@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Quicksand:400,700&display=swap");
@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat-Regular.ttf"); }

@font-face {
  font-family: "Quicksand";
  src: url("./fonts/Quicksand-Regular.ttf"); }

.titles {
  display: grid;
  grid-template-columns: repeat(2, 160px);
  height: 12px;
  margin-bottom: 0px;
  margin-top: 20px; }

.title {
  font-style: normal;
  font-weight: bold 700;
  color: #1F2041; }
  .title-one {
    height: 12px; }
  .title-two {
    height: 12px; }
  .title-big {
    font-family: Quicksand, sans-serif;
    font-size: 24px;
    line-height: 30px;
    margin: 0px;
    padding: 0px; }
  .title-small {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px; }
  .title-faded {
    font-family: Montserrat, sans-serif;
    font-size: 12px;
    line-height: 15px;
    font-weight: normal;
    text-align: right;
    text-transform: uppercase;
    color: rgba(31, 32, 65, 0.5);
    margin: 0px;
    padding: 0px; }

.logo-part-one {
  position: absolute;
  width: 14.12px;
  height: 14.12px;
  left: 41.29px;
  top: 48.35px; }

.logo-part-two {
  position: absolute;
  width: 10.94px;
  height: 7.09px;
  left: 54.5px;
  top: 42px; }

.logo-part-three {
  position: absolute;
  width: 48px;
  height: 48px;
  left: 30px;
  top: 29.90px; }

.logo-colored {
  width: 40px;
  height: 40px; }
  .logo-colored-part-one {
    position: relative;
    color: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    width: 11.76px;
    height: 11.76px;
    left: 9.41px;
    top: 13.29px;
    margin-right: 0px; }
  .logo-colored-part-two {
    position: relative;
    color: linear-gradient(180deg, #6FCF97 0%, #66D2EA 100%);
    width: 9.12px;
    height: 8.91px;
    left: 21.47px;
    bottom: 5px;
    margin-right: 0px; }
  .logo-colored-part-three {
    position: relative;
    color: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    width: 40px;
    height: 40px;
    left: 0px;
    bottom: 20.5px; }

.navlist {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
  padding-left: 0px;
  height: 70px;
  margin: 0px; }
  .navlist-item {
    margin-right: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 14px;
    line-height: 17px; }
    .navlist-item-text {
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      outline: none;
      text-decoration: none;
      color: rgba(31, 32, 65, 0.5); }

#home {
  font-weight: bold;
  color: rgba(31, 32, 65, 0.75); }

#special {
  width: 80px; }

#two {
  padding-left: 52px;
  width: 778px; }

#one {
  width: 575px; }

.services-dropdown {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  width: 74px; }
  .services-dropdown:hover .services-dropdown-content {
    display: flex; }
  .services-dropdown-content {
    display: none;
    flex-direction: column;
    position: relative;
    top: 55px;
    right: 76px;
    margin: none;
    padding: none;
    background: rgba(31, 32, 65, 0.25);
    width: 74px;
    padding: 0px;
    margin: 0px; }
    .services-dropdown-content-items {
      width: 70px;
      text-decoration: none;
      text-align: left;
      outline: none;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 17px;
      color: #fff;
      padding: 4px 0px 4px 4px;
      border-bottom: 1px solid rgba(31, 32, 65, 0.05); }
      .services-dropdown-content-items:hover {
        background-color: rgba(31, 32, 65, 0.25);
        color: #ffffff; }

.services-btn {
  -webkit-appearance: none;
  outline: none;
  background: #fff;
  border: none;
  width: 24px;
  height: 21px;
  color: rgba(31, 32, 65, 0.5);
  padding: 0px; }

#right {
  width: 114px; }

#services {
  width: 12px;
  height: 10px;
  color: rgba(31, 32, 65, 0.5);
  display: flex;
  align-items: center;
  text-align: center;
  font-family: Material Icons;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  background: #fff;
  padding: 3px 2px 2px 5px; }

html {
  background-color: #f4f4f6; }

body {
  margin: 0px 0px 0px 0px; }

.toxin {
  position: relative;
  left: 52.5px;
  bottom: 28.72px; }

.logo-complete {
  width: 106px;
  height: 40px;
  margin-left: 140px;
  margin-top: 15px; }

.grid {
  display: grid;
  grid-template-rows: repeat(4, 70px 70px 442px 367px);
  grid-row-gap: 40px;
  margin: 150px 0px 130px 0px; }
  .grid-element, .navbar, .navbar-loggedin, .footer, .footer-creative {
    background: #fff;
    box-shadow: 0px 10px 20px rgba(31, 32, 65, 0.05); }

.navbar, .navbar-loggedin {
  height: 70px;
  display: grid;
  grid-template-columns: repeat(2, 543px auto auto); }

.footer {
  display: grid;
  grid-template-rows: 372px 70px;
  height: 442px; }
  .footer-columns {
    display: grid;
    grid-template-columns: 440px 81px 201px 231px 487px;
    box-shadow: 0px 1px 0px rgba(31, 32, 65, 0.1); }
  .footer-widget, .footer-widget-one, .footer-widget-two, .footer-widget-three, .footer-widget-four, .footer-widget-five {
    display: flex;
    flex-direction: column;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 14px; }
    .footer-widget-one {
      padding: 100px 40px 0px 140px;
      line-height: 24px;
      color: rgba(31, 32, 65, 0.75); }
      .footer-widget-one p {
        margin: 0px; }
    .footer-widget-two {
      padding: 104px 0px 100px 0px; }
    .footer-widget-three {
      padding: 104px 0px 0px 119px;
      width: 84px; }
    .footer-widget-four {
      padding: 104px 0px 0px 119px; }
    .footer-widget-five {
      padding: 104px 0px 0px 87px; }
      .footer-widget-five p {
        width: 196px;
        line-height: 24px;
        margin: 18px 0px 0px 0px;
        color: rgba(31, 32, 65, 0.75); }
  .footer-list {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    list-style-type: none;
    padding-left: 0px; }
    .footer-list li {
      margin-top: 20px; }
    .footer-list-item {
      outline: none;
      text-decoration: none;
      line-height: 17px;
      color: rgba(31, 32, 65, 0.5); }
  .footer-copyright {
    display: flex;
    flex-direction: row; }
    .footer-copyright p {
      line-height: 17px;
      font-family: Montserrat;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      color: rgba(31, 32, 65, 0.75);
      margin: 26px 0px 0px 140px; }
  .footer-social {
    width: 112px; }
    .footer-social li {
      margin-right: 20px; }
    .footer-social-list {
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      list-style-type: none;
      padding-left: 0px; }
  .footer-creative {
    height: 367px; }
    .footer-creative-content {
      width: 560px;
      height: 157px;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      justify-content: center;
      margin: 100px 440px 110px 440px; }
      .footer-creative-content p {
        display: flex;
        text-align: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        color: rgba(31, 32, 65, 0.75); }
    .footer-creative-logo {
      padding-top: 8px;
      padding-left: 227px;
      width: 110px; }

#creative-social {
  padding-left: 225px; }

#copyright-social {
  margin-left: 716px; }

#footer-paragraph {
  margin: 0px; }

.buttons {
  display: flex;
  align-items: center; }

.button-login {
  margin-right: 20px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  border-radius: 22px;
  width: 79px;
  height: 34px;
  background: #fff;
  border: 1px solid #BC9CFF;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #BC9CFF; }

.button-register {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  border-radius: 22px;
  width: 101px;
  height: 34px;
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border: 1px solid #BC9CFF;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #fff; }
