mixin colors()

    .color
        .color-sample-one
        .color-desc-one Dark Shade 100% #1F2041
    .color
        .color-sample-two
        .color-desc-two Dark Shade 75% #1F2041
    .color
        .color-sample-three
        .color-desc-three Dark Shade 50% #1F2041
    .color
        .color-sample-four
        .color-desc-four Dark Shade 25% #1F2041
    .color
        .color-sample-five
        .color-desc-five Dark Shade 5% #1F2041
    .color
        .color-sample-six
        .color-desc-six Purple #BC9CFF
    .color
        .color-sample-seven
        .color-desc-seven Green #6FCF97
    