mixin colors()

    .color
        .color-sample-one
        .color-info
            .color-desc Dark Shade 100%
            .color-number #1F2041
    .color
        .color-sample-two
        .color-info
            .color-desc Dark Shade 75%
            .color-number #1F2041
    .color
        .color-sample-three
        .color-info
            .color-desc Dark Shade 50%
            .color-number #1F2041
    .color
        .color-sample-four
        .color-info
            .color-desc Dark Shade 25%
            .color-number #1F2041
    .color
        .color-sample-five
        .color-info
            .color-desc Dark Shade 5%
            .color-number #1F2041
    .color
        .color-sample-six
        .color-info
            .color-desc-small Purple 
            .color-number #BC9CFF
    .color
        .color-sample-seven
        .color-info
            .color-desc-small Green
            .color-number #6FCF97
    