extends base

block links
    link(rel="stylesheet" href="./css/headersandfooters.css")

    
block title
    | Headers and Footers

block content
    include modules/logo/logo
    include modules/buttons/button
    
    div.grid
        
        div.grid-row-one
            nav
                .logo-complete
                    include modules/logo/coloredlogo
                    include modules/logo/toxin
                include modules/navlist/navlist
                +navlist("one")
                .buttons
                    +button("button-login", "login")
                    +button("button-register", "register")



        div.grid-row-one
            nav
                .logo-complete
                    include modules/logo/coloredlogo
                    include modules/logo/toxin
                include modules/navlist/navlist_2
                +navlist2("two")
                

        div.grid-row-two
            