extends base

block links
    link(rel="stylesheet" href="./css/headersandfooters.css")

    
block title
    | Headers and Footers

block content
    include modules/logo/logo
    include modules/buttons/button
    
    div.grid
        nav.navbar
            .logo-complete
                include modules/logo/coloredlogo
                include modules/logo/toxin
            include modules/navlist/navlist
            +navlist("one")
            .buttons
                +button("button-login", "login")
                +button("button-register", "register")

        nav.navbar-loggedin
            .logo-complete
                include modules/logo/coloredlogo
                include modules/logo/toxin
            include modules/navlist/navlist_2
            +navlist2("two")
                
        .footer
            .footer-columns
                .footer-widget-one
                    include modules/logo/coloredlogo
                    include modules/logo/toxin
                    p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis. 
                .footer-widget-two
                    h3.title-small navigation
                    ul.footer-list
                        li
                            a.footer-list-item(href="#") About us
                        li
                            a.footer-list-item(href="#") News
                        li
                            a.footer-list-item(href="#") Support
                        li
                            a.footer-list-item(href="#") Products

                .footer-widget-three
                    h3.title-small about us
                    ul.footer-list
                        li
                            a.footer-list-item(href="#") Who we are
                        li
                            a.footer-list-item(href="#") Our team
                        li
                            a.footer-list-item(href="#") Careers
                        li
                            a.footer-list-item(href="#") Investors
                .footer-widget-four
                    h3.title-small Support
                    ul.footer-list
                        li
                            a.footer-list-item(href="#") Documentation
                        li
                            a.footer-list-item(href="#") Community
                        li
                            a.footer-list-item(href="#") Get in touch
                .footer-widget-five
                    h3.title-small subscribe to our new newsletter
                    p Receive our latest news and promotions in your inbox!

                    // input email-adress form

            .footer-copyright
                p Copyright © 2018 Toxin UI Kit. All rights reserved.
                .footer-social(id="copyright-social")
                    ul.footer-social-list
                        li
                            a.footer-social-list-item(href="#")
                                img(src="./img/twitter.svg")
                        li
                            a.footer-social-list-item(href="#")
                                img(src="./img/facebook.svg")
                        li
                            a.footer-social-list-item(href="#")
                                img(src="./img/instagram.svg") 

        .footer-creative
            div.footer-creative-content
                .footer-creative-logo
                    include modules/logo/coloredlogo
                    include modules/logo/toxin
                p.color-desc-four(id="footer-paragraph")
                    | Lorem ipsum dolor sit amet consectetur 
                    | adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis. 
                .footer-social(id="creative-social")
                    ul.footer-social-list
                        li
                            a.footer-social-list-item(href="#")
                                img(src="./img/twitter.svg")
                        li
                            a.footer-social-list-item(href="#")
                                img(src="./img/facebook.svg")
                        li
                            a.footer-social-list-item(href="#")
                                img(src="./img/instagram.svg")

        div.grid-row-two
            