extends base

block links
    link(rel="stylesheet" href="./css/headersandfooters.css")

    
block title
    | Headers and Footers

block content
    include modules/logo/logo
    include modules/buttons/button
    
    div.grid
        nav.navbar
            .logo-complete
                include modules/logo/coloredlogo
                include modules/logo/toxin
            include modules/navlist/navlist
            +navlist("one")
            .buttons
                +button("button-login", "login")
                +button("button-register", "register")

        nav.navbar-loggedin
            .logo-complete
                include modules/logo/coloredlogo
                include modules/logo/toxin
            include modules/navlist/navlist_2
            +navlist2("two")
                
        .footer
            .footer-columns
                .footer-widget-one
                    include modules/logo/coloredlogo
                    include modules/logo/toxin
                    p Lorem ipsum dolor sit amet consectetur adipiscing elit aliquam eget nullam pellentesque aliquam curabitur cociis. 
                .footer-widget-two
                    h3.title-small navigation
                    ul.footer-list
                        li.footer-list-item(href="#")
                            a About us
                        li.footer-list-item(href="#") 
                            a News
                        li.footer-list-item(href="#") 
                            a Support
                        li.footer-list-item(href="#") 
                            a Products

                .footer-widget-three
                    h3.title-small about us
                    ul.footer-list
                        li.footer-list-item(href="#")
                            a Who we are
                        li.footer-list-item(href="#") 
                            a Our team
                        li.footer-list-item(href="#") 
                            a Careers
                        li.footer-list-item(href="#") 
                            a Investors
                .footer-widget-four
                    h3.title-small Support
                    ul.footer-list
                        li.footer-list-item(href="#")
                            a Documentation
                        li.footer-list-item(href="#") 
                            a Community
                        li.footer-list-item(href="#") 
                            a Get in touch
            .footer-copyright

        div.grid-row-two
            