extends base

block links
    link(rel="stylesheet" href="./css/headersandfooters.css")

    
block title
    | Headers and Footers

block content
    include modules/logo/logo
    
    div.grid
        div.grid-column-one

        div.grid-column-two
            