extends base

block links
    link(rel="stylesheet" href="./css/index.css")

    
block title
    | Form Elements

block content
    include modules/input/input
    include modules/titles/titles
    include modules/logo/logo
    include modules/dropdown/dropdownguests
    include modules/checkboxes/checkboxes
    include modules/radiobuttons/radiobuttons
    include modules/toggle/toggle

    div.grid
        div.grid-item
            div.grid-column-one
                +titles("text field", "default")
                +input('text', 'Email', "")
                +titles("dropdown", "default")
                +dropdownguests()
                +titles("masked text field", "default")
                +input("text", "ДД.ММ.ГГГГ", "date")
                
            div.grid-column-two
                +titles("checkbox buttons", "")
                +checkboxes("Можно курить", 
                "Можно с питомцами", "Можно пригласить гостей (до 10 человек)")
                div.titles(id="radio")
                    .title-one
                        h3.title-small Radio buttons
                +radiobuttons("Мужчина", "Женщина")
                div.titles(id="toggle")
                    .title-one
                        h3.title-small toggle
                +toggle("Получать спецпредложения")


            div.grid-column-three
                h3.title-small range slider
                
        
            div.grid-item
            div.grid-item
            
    script(src="https://code.jquery.com/jquery-3.4.1.min.js")
    script(src="./js/jquery/jquery.nice-select.min.js")
    script(src="./js/jquery/jquery.maskedinput.min.js")

    script(src="./js/index.js")
    


    
    

    


